* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Tag UTILITIES
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

h1, h2, h3, h4, h5, h6 {
    color: $c_title;
}

p {
    color: $c_secondary;
}

p.head_title {
    color: $c_primary;
}

p.footer_title {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

p.footer_subtitle {
    color: $c_secondary;
    font-size: 15px;
}

a.footer_subtitle {
    display: inline-block;
    padding: 5px 10px;
    margin-left: -10px;
    color: $c_secondary;
    font-size: 15px;
}

// Classi UTILITIES

// Margine
.m_bottom {
    margin-bottom: 15px;
}

// Bottoni
.btun {
    border-radius: 7px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all .1s linear;

    &:focus-visible {
        outline: none;
    }

    &.btun_small {
        padding: 4px 20px;
        font-size: 11px;
        font-weight: normal;
        border-radius: 4px;
    }

    &:hover {
        background-color: #3f3a64;
        color: white;
        border-color: #3f3a64;
    }
}

.btun_primary {
    background-color: $c_primary;
    border: 1px solid $c_primary;
    color: white;
}

.btun_white_primary {
    background-color: white;
    color: $c_primary;
    border: 1px solid #eeeeee;
}