$nav_c: #3f3a64;
$c_primary: #20ad96;
$c_title: #333333;
$c_secondary: #777777;

@mixin angle_nav_link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 12px;
}

@mixin d_flex_align_center {
    display: flex;
    align-items: center;
}

@mixin page_container {
    width: 900px;
    margin: 0 auto;
}